<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MedSCAN.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MedSCAN.Properties.Settings.MedSCAN_DatabaseConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Resources\MedSCAN_Database.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <MedSCAN.Properties.Settings>
            <setting name="SELECTallMeds" serializeAs="String">
                <value>SELECT * FROM tbl_Medications</value>
            </setting>
            <setting name="SELECTallPatients" serializeAs="String">
                <value>SELECT * FROM tbl_Patients</value>
            </setting>
            <setting name="SELECTallPatientMeds" serializeAs="String">
                <value>SELECT * FROM tbl_PatientMedications</value>
            </setting>
        </MedSCAN.Properties.Settings>
    </applicationSettings>
</configuration>